{% extends 'layout/layout.html.twig' %}

{% block title %}Add Project{% endblock %}

{% block body %}

	<h1>Add Project</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

{% endblock %}
